html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #8360c3, #2ebf91 50%, #E4E9FD 50%);
    background-size: cover;
     animation: gradient-animation 18s ease infinite;
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
.body{
    display: flex;
    flex-direction: column;
     align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
}
 .content {
    flex: 1;
     text-align: center;
  }
  
  h1 {
    color: white;
    padding: 10px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #d67777;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form.item {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #d67777;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .gradient-background {
    background: linear-gradient(300deg, #8360c3, #2ebf91);
    background-size: 180% 180%;
    animation: gradient-animation 25s ease infinite;
  }
.form-container {
    width: 400px; /* Adjust the width as needed */
    max-height: 400px; /* Adjust the height as needed */
    overflow: hidden;
    display: flex;
  flex-direction: column;
  }
.form-container form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
    
}
.form-container form button {
  align-self: flex-end;
  margin-top: 10px; /* Adjust the margin as needed */
}
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #888;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .footer a {
    color: #888;
    text-decoration: none;
  }

  .footer a:hover {
    color: #333;
  }
